<h1> Big 'Ol Lists List'</h1>
<ul>
  <% @lists.each do | list | %>
    <li><h3>List: <%= list.title %></h3></li>
    <ul>
      <% list_tasks = list.tasks.all %>
      <% list_tasks.each do | task | %>
        <li>
          <%= task.name %>
        </li>
      <% end %>
    </ul>
    <br>
    <%= form_for list.tasks.new, :url => list_tasks_path(list) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit "Add Task" %>
    <% end %>
    <br />
  <% end %>
</ul>

<%= form_for :list, :url => { :action => :create } do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit "Add List" %>
<% end %>